.navbar {
  background-color: var(--mantine-color-body);
  height: 570px;
  width: 300px; 
  padding: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xs);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);

    & .linkIcon {
      color: var(--mantine-color-black);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      & .linkIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-gray-6);
  margin-right: var(--mantine-spacing-sm);
  width: 20px;
  height: 20px;
  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);

    & .linkIcon {
      color: var(--mantine-color-black);
    }
  }
}

.footer {
  border-top: 1px solid var(--mantine-color-gray-3);
  padding-top: 4px;
}